html, body{
	height: 100%;
    font-size: $baseFontSize;
}
#{$comonElements} {
	box-sizing: border-box;
}

input[type=text] {
    -webkit-appearance: none;
}

.clearfix:after {
    display: block;
    content: "\20";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
.mrR10 {
    margin-right: 10px;
}
.mrL10 {
    margin-left: 10px;
}
.mrT10 {
    margin-top: 10px !important;
}
.mrB10 {
    margin-bottom: 10px;
}
 
.inlineBlock {
    display: inline-block;
}
.block {
    display: block !important;
}
/*ie8+*/
.clearfix {
    *zoom: 1; 
}
.whiteblock{
    padding: 10px !important;
    background: #ffffff;
}